name: supervised_learning_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  
  http: ^1.2.0
  uuid: ^4.4.0

  firebase_core: ^2.24.2
  firebase_auth: ^4.17.8
  cloud_firestore: ^4.17.5
  firebase_analytics: ^10.10.0

  flutter_math_fork: ^0.7.2
  cupertino_icons: ^1.0.8
  fl_chart: ^0.68.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/fonts/
    - assets/images/

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
